################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMS.BLL/bin
/IMS.DAL/bin
/IMS.Entities/bin
/IMS.Models/bin
/IMS.Web/bin
/.vs
/IMS.DAL/obj/Debug
/IMS.DAL/obj/Release
